<footer>
    <ul>
        <li>
            <div class="footer-left">
              <img class="logof" src="/images/logo_helartico.png">
        
              <h3 class="titulo_footer">HELÁRTICO</h3>
        
              <p class="footer-links">
                <a href="/" class="link-1">Inicio</a>
                
                <a href="/productos">Productos</a>
              
                <a href="/sabores">Sabores</a>
              
                <a href="#">Locales</a>
                
                <a href="#">Contacto</a>
                
              </p>
            </div>

        </li>
        <li>
              <p class="footer-company-about">
                <span>Novedades</span>
                <span>Recibí promociones y beneficios exclusivos:</span>
                <input class="emailf" type="text" value="Email">
                <button class="botonf"></button>
              </p>
        </li>

        <li>
            
          <p class="footer-company-about">
            <span>Redes sociales</span>
            <span>Seguinos en:</span>
          </p>
              <a href=""><img class="iconos" src="/images/logo face.png" alt=""></i></a>
              <a href="#"><img class="iconos" src="/images/logo ig.png" alt=""></i></a>
              <a href="#"><img class="iconos" src="/images/logo wpp.png" alt=""></a>
        </li>
        
    </ul>
    <h5 class="footer-final">© 2022 Helartico S.R.L.</h5>

</footer>
