<header>
    <img class="logo ubicar" src="/images/logo_helartico.png">
    <nav>
      <ul>
        <li>
          <h4> 
          <a href="/">Inicio</a>
         </h4>
        </li>
        <li>
          <h4>
          <a href="/productos">Productos</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="/sabores">Sabores</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Locales</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Contacto</a>
          </h4>
        </li>
        <li>
          <h4>
          </h4>
        </li>
      </ul>
    </nav>
          <a> 
            <img class="carrito size" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="/images/shopping-cart.png">
          </a>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h3 id="offcanvasRightLabel">Tu pedido</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <img class="carrito2" src="/images/alfajor.png" alt="foto-compra"> 
    <div class="descripcion">
    <h3 class="producto">Producto</h3>
    <h4>$000</h4>
    <label for="cantidad">Cantidad:</label>
        <select name="cantidad" id="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
        </select>
      </div>
      <br>
      <hr>
      <h3>Total:    $ </h3>
      <button class="btn ver-pedido" type= "button" >Ver pedido</button><br>
      <a href="/pedidos"><button class="btn terminar-pedido" type="button" >Terminar pedido</button></a>

  </div>
</div>
    <a class="size login" href="/usuario"><i class="fa-solid fa-user"></i></a>   

 </header>