<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dekopt.css">
    <title>HELÁRTICO</title>
    <link rel="icon" href= "/images/pixlr-bg-result.png" />
    <script src="https://kit.fontawesome.com/278943c891.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>


  <header>

    <img class="logo ubicar" src="/images/logo_helartico.png">
    <nav>
      <ul>
        <li>
          <h4> 
          <a href="/">Inicio</a>
         </h4>
        </li>
        <li>
          <h4>
          <a href="/productos">Productos</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="/sabores">Sabores</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Locales</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Contacto</a>
          </h4>
        </li>
        <li>
          <h4>
          <a> <img class="size" src="/images/shopping-cart.png"></a>
          </h4>
        </li>
      </ul>
    </nav>
    <div class="overlay">
  <h1>HELÁRTICO</h1>
  <h3>1000 razones para elegirnos</h3>
  
  
    <br>
    <button class="button_carrusel"><h5>SOBRE NOSOTROS</h5></button>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   <div class="container">

    <a class="btn login" data-bs-toggle="offcanvas" href="#offcanvas1"><i class="fa-solid fa-user"></i>
    </a>   
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas1">
      <div class="offcanvas-header">
        <button type="button" class=" button.login btn-close text-reset" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <form>
          <!--   con = Container  for items in the form-->
          <div class="con">
          <!--     Start  header Content  -->
          <header class="head-form">
             <h2>Ingresar</h2>
          </header>
          <br>
          <div class="field-set">
             <!--   user name -->
                <span class="input-item">
                  <i class="fa fa-user-circle"></i>
                </span>
               <!--   user name Input-->
                <input class="form-input" id="txt-input" type="text" placeholder="Nombre de usuario" required>
            
             <br>
            
                  <!--   Password -->
            
             <span class="input-item">
               <i class="fa fa-key"></i>
              </span>
             <!--   Password Input-->
             <input class="form-input" type="password" placeholder="Contraseña" id="pwd"  name="password" required>
            
            
            
             <br>
       <!--        buttons -->
       <!--      button LogIn -->
             <button class="button.login log-in"> Log In </button>
          </div>
         
       <!--   other buttons -->
          <div class="other">
       <!--      Forgot Password button-->
             <button class=" btn submits frgt-pass">Forgot Password</button>
       <!--     Sign Up button -->
             <button class="btn submits sign-up">Sign Up 
  
       <!--         Sign Up font icon -->
             <i class="fa fa-user-plus" ></i>
             </button>
          </div>
         </div>
       </form>
  
  </div>

    
   <div class="container">

    
      
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas2">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title">Registrarse</h3>
        
      </div>
      <div class="offcanvas-body">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="usuario" name="usuario" required>        
          </div>
          <div class="mb-3">
            <label for="clave" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="clave" name="clave" required>
          </div>
          <div class="mb-3">
            <label for="clave" class="form-label">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="clave" name="clave" required>
          </div>
          <button type="submit" class="btn btn-primary">Confirmar </button>
        </form>            
      </div>
    </div>    
  </div>


 </header>
  <main>

<div class="container">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img width="5000px" src="/images/ejemplo.jpg">
      </div>

      <div class="item">
        <img width="2000px" src="/images/ejemplo.jpg">
      </div>
    
      <div class="item">
        <img width="5000px" src="/images/ejemplo.jpg">
      </div>
    </div>

    <!-- Left and right controls -->
    
  </div>
</div>
  </main>

<section class="section_home">
    <img class="postre_home_1 " src="/images/PostreHleado1.png" alt="">
      <img class="postre_home_1 " src="./images/helado home 2.jpg" alt="">
      <img class="postre_home_2 " src="./images/postre helado 3.jpg" alt="">
      <img class="postre_home_2 " src="./images/alfajor helado.jpg" alt="">

      <h4 class="texto_home_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
  </section>





  <footer class="footer-distributed">

    <div class="footer-left">
      <img class="logof" src="/images/logo_helartico.png">

      <h3 class="titulo_footer">HELÁRTICO</h3>

      <p class="footer-links">
        <a href="/" class="link-1">Inicio</a>
        
        <a href="/productos">Productos</a>
      
        <a href="/sabores">Sabores</a>
      
        <a href="#">Locales</a>
        
        <a href="#">Contacto</a>
        
      </p>
    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Novedades</span>
        <span>Recibí promociones y beneficios exclusivos:</span>
        <input class="emailf" type="text" value="Email">
        <button class="botonf"></button>
      </p>


    </div>

    <div class="footer-center">
      <p class="footer-company-about">
      <span>Redes sociales</span>
      <span>Seguinos en:</span>
    </p>
      

        <a href=""><img class="iconos" src="/images/logo face.png" alt=""><i class="fa fa-facebook"></i></a>
        <a href="#"><img class="iconos" src="/images/logo ig.png" alt=""><i class="fa fa-twitter"></i></a>
        <a href="#"><img class="iconos" src="/images/logo wpp.png" alt=""><i class="fa fa-linkedin"></i></a>

      

      

    </div>

    

  </footer>

</html>