<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>HELÁRTICO</title>
    <link rel="icon" href= "/images/pixlr-bg-result.png" />
</head>


  <header>
    <nav>
      <ul>
        <li>
          
          <img class="logo ubicar" src="/images/logo_helartico.png">
         
        </li>
        <li>
          <h4> 
          <a href="/">Inicio</a>
         </h4>
        </li>
        <li>
          <h4>
          <a href="/productos">Productos</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="/sabores">Sabores</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Locales</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Contacto</a>
          </h4>
        </li>
        <li>
          <h4>
          <a> <img class="size" src="/images/shopping-cart.png"></a>
          </h4>
        </li>
      </ul>
    </nav>
    <div class="overlay">
  <h1>HELÁRTICO</h1>
  <h3>1000 razones para elegirnos</h3>
  
    <br>
    <button><h5>SOBRE NOSOTROS</h5></button>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   <div class="container">

    <a class="btn login" data-bs-toggle="offcanvas" href="#offcanvas1">
      Login
    </a>   
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas1">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title">Login</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <form action="resultado.html" method="POST">
          <p>
            <!-- campo para el nombre -->
            <label> Usuario: </label>
            <input type="text" name="nombre" required>
          </p>
    
          
          <p>
            <!-- campo para la contraseña -->
            <label> Contraseña: </label>
            <input type="password" name="password" required>
          </p>
          <p>     
            <button type="submit" class="btn btn-primary">Login </button>
          </p>
        </form>          
      </div>
    </div>    
  </div>

    
   <div class="container">

    <a class="btn register" data-bs-toggle="offcanvas" href="#offcanvas2">
      Registrarse
    </a>   
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas2">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title">Registrarse</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Usuario:</label>
            <input type="text" class="form-control" id="usuario" name="usuario" required>        
          </div>
          <div class="mb-3">
            <label for="clave" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="clave" name="clave" required>
          </div>
          <div class="mb-3">
            <label for="clave" class="form-label">Confirmar contraseña:</label>
            <input type="password" class="form-control" id="clave" name="clave" required>
          </div>
          <button type="submit" class="btn btn-primary">Confirmar </button>
        </form>            
      </div>
    </div>    
  </div>


 </header>
  <main>

<div class="container">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img width="5000px" src="/images/ejemplo.jpg">
      </div>

      <div class="item">
        <img width="5000px" src="/images/ejemplo.jpg">
      </div>
    
      <div class="item">
        <img width="5000px" src="/images/ejemplo.jpg">
      </div>
    </div>

    <!-- Left and right controls -->
    
  </div>
</div>
  </main>

<section>
    <img class="postre_home_1" src="/images/PostreHleado1.png" alt="">
      <img class="postre_home_1" src="./images/helado home 2.jpg" alt="">
      <img class="postre_home_2" src="./images/postre helado 3.jpg" alt="">
      <img class="postre_home_2" src="./images/alfajor helado.jpg" alt="">

      <h4 class="texto_home_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
  </section>
  <footer class="footer-distributed">

    <div class="footer-left">
      <img class="logo" src="/images/logo_helartico.png">

      <h3>HELÁRTICO</h3>

      <p class="footer-links">
        <a href="/" class="link-1">Inicio</a>
        
        <a href="/productos">Productos</a>
      
        <a href="/sabores">Sabores</a>
      
        <a href="#">Locales</a>
        
        <a href="#">Contacto</a>
        
      </p>
    </div>

    <div class="footer-center">
      <p class="footer-company-about">
      <span>Redes sociales</span>
      <span>Seguinos en:</span>
    </p>
      <div class="footer-icons">

        <a href=""><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

      

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Novedades</span>
        <span>Recibí promociones y beneficios exclusivos:</span>
      </p>


    </div>

  </footer>

</html>