<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dekopt.css">
    <title>HELÁRTICO</title>
    <link rel="icon" href= "/images/pixlr-bg-result.png" />
    <script src="https://kit.fontawesome.com/278943c891.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>


  <header>

    <img class="logo ubicar" src="/images/logo_helartico.png">
    <nav>
      <ul>
        <li>
          <h4> 
          <a href="/">Inicio</a>
         </h4>
        </li>
        <li>
          <h4>
          <a href="/productos">Productos</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="/sabores">Sabores</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Locales</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Contacto</a>
          </h4>
        </li>
        <li>
          <h4>
          </h4>
        </li>
      </ul>
    </nav>
          <a> 
            <img class="carrito size" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="/images/shopping-cart.png">
          </a>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h3 id="offcanvasRightLabel">Tu pedido</h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <img class="carrito2" src="/images/alfajor.png" alt="foto-compra"> 
    <div class="descripcion">
    <h3 class="producto">Producto</h3>
    <h4>$000</h4>
    <label for="cantidad">Cantidad:</label>
        <select name="cantidad" id="cantidad">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
        </select>
      </div>
      <br>
      <hr>
      <h3>Total:    $ </h3>
      <button class="btn ver-pedido" type= "button" >Ver pedido</button><br>
      <button class="btn terminar-pedido" type="button" >Terminar pedido</button>




  </div>
</div>
          
    <div class="overlay">
  <h1>HELÁRTICO</h1>
  <h3>1000 razones para elegirnos</h3>
  
  
    <br>
    <button class="button_carrusel"><h5>SOBRE NOSOTROS</h5></button>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   <div>

    <a class="size login" href="/usuario"><i class="fa-solid fa-user"></i>
    </a>   
    
  
   </div>

 </header>
  <main>

<div class="container">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img width="5000px" src="/images/ejemplo.jpg">
      </div>

      <div class="item">
        <img width="2000px" src="/images/ejemplo.jpg">
      </div>
    
      <div class="item">
        <img width="5000px" src="/images/ejemplo.jpg">
      </div>
    </div>

    <!-- Left and right controls -->
    
  </div>
</div>
  </main>

<section class="section_home">
    <img class="postre_home_1 " src="/images/PostreHleado1.png" alt="">
      <img class="postre_home_1 " src="./images/helado home 2.jpg" alt="">
      <img class="postre_home_2 " src="./images/postre helado 3.jpg" alt="">
      <img class="postre_home_2 " src="./images/alfajor helado.jpg" alt="">

      <h4 class="texto_home_1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
      <h4 class="texto_home_4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni doloremque corrupti distinctio iusto cum vitae, architecto sit assumenda vero quae ipsa illum eius maiores? Maiores animi iure et soluta laboriosam?</h4>
  </section>





  <footer class="footer-distributed">

    <div class="footer-left">
      <img class="logof" src="/images/logo_helartico.png">

      <h3 class="titulo_footer">HELÁRTICO</h3>

      <p class="footer-links">
        <a href="/" class="link-1">Inicio</a>
        
        <a href="/productos">Productos</a>
      
        <a href="/sabores">Sabores</a>
      
        <a href="#">Locales</a>
        
        <a href="#">Contacto</a>
        
      </p>
    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>Novedades</span>
        <span>Recibí promociones y beneficios exclusivos:</span>
        <input class="emailf" type="text" value="Email">
        <button class="botonf"></button>
      </p>


    </div>

    <div class="footer-center">
      <p class="footer-company-about">
      <span>Redes sociales</span>
      <span>Seguinos en:</span>
    </p>
      

        <a href=""><img class="iconos" src="/images/logo face.png" alt=""></i></a>
        <a href="#"><img class="iconos" src="/images/logo ig.png" alt=""></i></a>
        <a href="#"><img class="iconos" src="/images/logo wpp.png" alt=""></a>

      

      

    </div>

    

  </footer>

</html>