<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/estilo.css">
</head>
<body>
      <header class="header">
    <nav>
      <ul>
          <a href="">Inicio</a>
            
          <a href="">Productos</a>
           
          <a href="">Sabores</a>
  
          <a href="">Locales</a>
      
          <a href="">Contacto</a>
          
      </ul>
    </nav>
         <div class="pshop">
            <a href=""><img class="shop" src="../public/images/Helado home.png" alt="Shop"></a>
         </div>
    
  </header>

    <section>HTML + CSS + JS</section>

    <footer>No dudes en contactarnos</footer>
  </body>
</html>