
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>HELÁRTICO</title>
    <link rel="icon" href= "/images/pixlr-bg-result.png" />
</head>


  <header>
    <nav>
      <ul>
        <li>
          
          <img class="logo ubicar" src="/images/logo_helartico.png">
         
        </li>
        <li>
          <h4> 
          <a href="/">Inicio</a>
         </h4>
        </li>
        <li>
          <h4>
          <a href="/productos">Productos</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Sabores</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Locales</a>
          </h4>
        </li>
        <li>
          <h4>
          <a href="">Contacto</a>
          </h4>
        </li>
        <li>
          <h4>
          <a> <img class="size" src="/images/shopping-cart.png"></a>
          </h4>
        </li>
      </ul>
    </nav>
    </header>
    <main>
    <div class="seccion">
    
        <div class="titulo">
         <p class="titulo">CHOCOLATE</p>
        </div>
      
        <div class="informacion">
          <UL>
            <li>
              <h3>Chocolate Suizo</h3>
            </li>
            <li>
              <h3>Chocolate Nevado</h3>
            </li>
            <li>
              <h3>Chocolate Blanco</h3>
            </li>
            <li>
              <h3>Chocolate Bariloche</h3>
            </li>
            <li>
              <h3>Chocolate con almendras</h3>
            </li>
          </UL>
          </p>
         
         
        </div>
        <div class="seccion2">

        <div class="titulo">
          <p class="titulo">CREMAS</p>
         </div>
       
         <div class="informacion">
           <UL>
             <li>
               <h3>Chocolate Suizo</h3>
             </li>
             <li>
               <h3>Chocolate Nevado</h3>
             </li>
             <li>
               <h3>Chocolate Blanco</h3>
             </li>
             <li>
               <h3>Chocolate Bariloche</h3>
             </li>
             <li>
               <h3>Chocolate con almendras</h3>
             </li>
           </UL>
           </p>
          </div>
          
         </div>
      </main>
    