
/*---------------------------HEADER----------------------------------*/
/*---------------------------HEADER----------------------------------*/
/*---------------------------HEADER----------------------------------*/

header {
position: fixed;
top: -25px;
width: 100%;
position: relative;
margin: 2% auto 10% auto;
text-align: center;

}

header nav ul {
    
  background-color:rgb(207, 181, 164);
  margin: 0;
  list-style: none;
  padding: 0;
  /*REVISAR---------------------------------*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  
}


header nav ul li :hover {
  background-color:rgb(231, 216, 197);
  color: black;
  font-size:larger;
}

header nav ul a {
  display: block;
  padding: 15px 20px;
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-family: 'Dancing Script';
}


.carrito {
  position: relative;
  left: 45%;
  bottom: 50px;
  cursor: pointer;

}

.carrito:hover{
  transform: scale(1.5);
}

.carrito2 {
  width: 150px;
  height: 150px;
  border: 1px solid;
  position: relative;
  right: 25%
}

.descripcion {
  position: relative;
  width: 50%;
  bottom: 140px;
  left: 50%;
}

.producto {
  position: relative;
  bottom: 30px

}

.ver-pedido {
  position: relative;
  right: 30%;
}

.terminar-pedido {
  position: relative;
  left: 30%;
  bottom: 35px;
  
}



/*---------------------------LOGO----------------------------------*/
.logo {
    width: 98px;
    height: 98px;
}

.ubicar {
    position: absolute;
    left: 5px;
    top: -15px;
}

/*---------------------------LOGO----------------------------------*/
























/*-------------------------HOME-MAIN----------------------------------*/
/*-------------------------HOME-MAIN----------------------------------*/
/*-------------------------HOME-MAIN----------------------------------*/



main{
    margin-top: 4.5vw;
    height: 25vw;
    margin-left: 10vw;
}
.main_productos {
  height: 50vw
}


























/*------------------------HOME-SECTION--------------------------------*/
/*------------------------HOME-SECTION--------------------------------*/
/*------------------------HOME-SECTION--------------------------------*/


.section_home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -200px;
    height: 69vw;
    width: 70vw;
    margin-left: 200px;
}





.postre_home_1{
    border-radius: 50%;
    width: 24vw;
    height: 25vw;
    object-fit: cover;
    margin-left: 7vw;
}

.postre_home_2{
    border-radius: 50%;
    width: 24vw;
    height: 25vw;
    object-fit: cover;
    margin-left: 7vw;
    margin-top: 6vw;
}


.texto_home_1{
    margin-left: 11vw;
    margin-right: 35vw;
    position: relative;
    bottom: 31.2vw;
}

.texto_home_2{
    margin-left: 11vw;
    margin-right: 35vw;
    position: relative;
    bottom: 4.7vw;
}

.texto_home_3{
    
    margin-left: 42vw;
    margin-right: 4vw;
    position: relative;
    bottom: 40.5vw;
}

.texto_home_4{
    margin-left: 42vw;
    margin-right: 4vw;
    position: relative;
    bottom: 14.1vw;
}







.login{
    position: absolute;
    left: 87vw;
    top: 1.5vw;
    font-family: 'Dancing Script';
    color: black;
    top: 6%;
}

.login:hover{
  transform: scale(1.5);
  color: #000000;
}


.register{
    position: absolute;
    left: 78vw;
    top: 1.5vw;
    font-family: 'Dancing Script';
    color: black;
}


.btn {
    background-color:rgb(182, 104, 89);
    font-weight:bold;
}




.carousel, .carousel-inner > .item > .img {
  position:absolute;
  left: 0px;
  right: 0px;
  top: 65px;
  z-index: -1;
}

.size {
    width: 20px;
    height: 20px;
}



.button_carrusel {
	border: 2px;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 40px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.button_home:hover{
	cursor: pointer;
}




.titulo_home{
	font-family: 'Dancing Script';
    color:rgb(56, 52, 52);
	font-size: 80px;
	margin-bottom: 30px;
}


.texto_h3 {
	font-family: 'Dancing Script';
	margin-bottom: 30px;
    color: #333;

}

.texto_home_fh {
    font-family: 'Dancing Script';
}
































/*------------------------productos.html------------------------------*/
/*------------------------productos.html------------------------------*/
/*------------------------productos.html------------------------------*/

.row {
  margin-left: 10%;
  margin-top: -25%
}

.boton-todo {
  position: relative;
  left: -10%;
}

.boton-helados {
  position: relative;
  left: -10%;
}

.boton-paletas {
  position: relative;
  left: -10%;
}
.boton-tortas {
  position: relative;
  left: -10%;
}
.boton-alfajores {
  position: relative;
  left: -10%;

}



.mainComidas #galeria .col-lg-4 {
  margin: 0 ;
  padding: 25px;
}

.mainComidas #galeria img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.mainComidas #galeria img:hover {
  border: 5px solid white;
}

.mainComidas .card-title {
  color: black;
  border: solid;
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
}

.mainComidas #btnradio2:checked ~ .row > .Paletas{
  display: none;
}

.mainComidas #btnradio2:checked ~ .row > .Tortas {
  display: none;
}

.mainComidas #btnradio2:checked ~ .row > .Alfajores {
  display: none;
}

.mainComidas #btnradio3:checked ~ .row > .Helados {
  display: none;
}

.mainComidas #btnradio3:checked ~ .row > .Tortas {
  display: none;
}

.mainComidas #btnradio3:checked ~ .row > .Alfajores {
  display: none;
}

.mainComidas #btnradio4:checked ~ .row > .Helados {
  display: none;
}

.mainComidas #btnradio4:checked ~ .row > .Paletas {
  display: none;
}

.mainComidas #btnradio4:checked ~ .row > .Alfajores {
  display: none;
}

.mainComidas #btnradio5:checked ~ .row > .Helados {
  display: none;
}

.mainComidas #btnradio5:checked ~ .row > .Paletas {
  display: none;
}

.mainComidas #btnradio5:checked ~ .row > .Tortas {
  display: none;
}



.mainComidas .btn {
  padding-left: 2%;
  padding-right: 2%;
  color: black;
  
  background-color: rgb(219, 180, 136);
  width: 20%;
  
}



.mainComidas .btn:hover {
  padding-left: 2%;
  padding-right: 2%;
  color: black;
  background-color:rgb(163, 125, 81);
  width: 20%;
  font-size: larger;

  
}























/*---------------------------SABORES---------------------------------*/
/*---------------------------SABORES---------------------------------*/
/*---------------------------SABORES---------------------------------*/


.accordion{
  position: relative;
  right: 5.4vw;
}
.accordion-button{
  background-color: rgb(216, 162, 123);
 
  
 
}

.accordion-header{
  border: 2px solid rgb(15, 15, 15);
  background-color: chocolate;
  justify-content: center;
}

.accordion-item{
  text-align: center;
}

















/*-----------------------------FOOTER---------------------------------*/
/*-----------------------------FOOTER---------------------------------*/
/*-----------------------------FOOTER---------------------------------*/


footer {
    display: block;
    text-align:left;
    
}

footer ul {
    display: flex;
    justify-content:center;
    align-items: left;

}

footer ul li {
    display: block;
    margin-right:5%;
    margin-left: 5%;

}




.footer-final {
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;

}
  
.footer_home{
  margin-bottom: -10px;
  background: rgb(207, 181, 164);
}

.footer_productos{
  position: relative;
  bottom: -1000px;
  margin-bottom: -10px;
  background: rgb(207, 181, 164);
}

.footer_sabores{
  margin-bottom: -10px;
  position: relative;
  bottom: -500px;
  background: rgb(207, 181, 164);
}



.footer-links a{
	color:  inherit;
}




.footer-links a:before {
  content: "|";
  font-size: 20px;
  color: #fff;
  padding-right: 5px;

}



.footer-company-about span{
	display: block;
	color:  black;
	font-size: 16px;
	margin-bottom: 20px;
  position: relative;
  top: 85px;
}



.iconos{
	width: 55px;
  height: 55px;
  padding: 5px;
  position: relative;
  top: 65px;
}

.titulo_footer{
  font-size: 50px;
}


.logof{
  width: 120px;
  height: 120px;
  position: relative;
  right: 5%;
}



.emailf{
  position: relative;
  top: 115px;
  width: 250px;
  height: 35px;
}

.botonf{
  position: relative;
  top: 125px;
  width: 55px;
  height: 35px;
 
}