h5 {
  color: black;
  text-decoration:none;
  font-style: normal;
  

}

.iri{
  color: red;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  
  
  }
  
  header nav ul {
      
    background-color:rgb(207, 181, 164);
    margin: 0;
    list-style: none;
    padding: 0;
    /*REVISAR---------------------------------*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    
  }
  
  
  header nav ul li :hover {
    background-color:rgb(182, 104, 89);
    color: black;
    font-size:larger;
  }
  
  header nav ul a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'Dancing Script';
  }
  
  .logo {
    width: 98px;
    height: 98px;
}

.ubicar {
    position: absolute;
    left: 5px;
    top: -15px;
}
.size {
  width: 20px;
  height: 20px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script';
  }
   
  
   
  .container{
    width: 100%;
    height: 90vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
   
  .login-container{
    display: flex;
    width: 650px;
    height: auto;
    background: rgb(207, 181, 164);
  }
   
  .register, .login{
    flex: 1;
  }
   
  .register{
    padding: 10%;
    position: relative;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    height:500px;
  }
   
  .register h2{
    color: black;
    margin-bottom: 30px;
  }
   
  .register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }
   
  .register input:active,
  .register input:focus{
    outline: none;
  }
   
  .register .submit{
    width: auto;
    padding: 10px;
    background-color: rgb(190, 141, 108);
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-left: 17%;
  }
  .login .submit{
    width: auto;
    padding: 10px;
    background-color: rgb(190, 141, 108);
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-left: 23%;
  }
   
  .register::after{
    content: '>';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: -23px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
    color: #7c7c7c;
  }
   
  .login{
    background-color:  white;
    border-style: solid;
    padding: 10%;
    border-width: 1px;

  }
   
  .login h2{
    color: black;
    margin-bottom: 45px;
  }
   
  .login button i{
    position: absolute;
    top: 3px; 
    left: 5px;
  }
   
  .login button{
    width: 10%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 ;
    cursor: pointer;
    position: relative;
    border-radius: 20%;
  }
   
  .login .fb{
    background: #3b5999;
    border-style: none;
    color: black;
    position: relative;
    margin-left:5% ;
  }
  .login .tw{
    background: #55acef;
    border-style: none;
    color:black;
  }
   
  .login .correo{
    background: #33d4ce;
    border-style: none;
    color:black;
  }

  .login input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }
   
   
  @media only screen and (max-width: 540px){
    .login-container{
      display: block;
    }
   
    .register, .login{
      flex: none;
    }
   
    .register::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }

/*-------------ventanaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-----------------------*/


.fondo {
  width: 100%;
  height: 100%;
  
}


  .window-notice {
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}

.window-notice .content {
  background: transparent;
  border-radius: 2px;
  
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  max-width: 550px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width:100%;
  height: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}