<html>
    <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <link href="/css/admin.css" rel="stylesheet">
            <title>Formulario de carga de productos</title>
            <link rel="icon" href= "/images/pixlr-bg-result.png" />
            <script src="https://kit.fontawesome.com/278943c891.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
            <link rel = ”stylesheet” href = ”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
        </head>


<form method="Post" action="">
<body>

<section class="section_adm">
<p align="center"><font face="Tahoma" size="2"><b><i>Producto <input type="text" name="Dato1" size="20">
 </i></b></font></p>

<p align="center"><font face="Tahoma" size="2"><b><i>Descripcion <textarea rows="2" name="Dato2" cols="20"></textarea></i></b></font></p>

<p align="center"><font face="Tahoma" size="2"><b><i>Imagen <input accept="image/*" type="file" multiple>></i></b></font></p>

<p align="center"><font face="Tahoma" size="2"><b><i>Categoria</i></b>
</font><select size="1" name="Dato4">
    <option value="Tortas heladas">Tortas heladas</option>
    <option value="Paletas">Paletas</option>
    <option value="Atractivos Turisticos">Otros</option>

    <option selected value="-Seleccionar-">-Seleccionar-</option>
</select></p>
<p align="center"><font face="Tahoma" size="2"><b><i>Precio <input type="text" name="Dato3" size="17"></i></b></font></p>

<p align="left">                                        
</p>
<p align="center"> 
<input type="submit" value="Confirmar" name="B1">
<input type="reset" value="Restablecer" name="B2">
</form>

</p>
</section>


</body>
</html>