<html>
    <html lang="en">

<head>
<%- include('./partials/head') %>
</head>


<form method="Post" action="">
<body>

<section class="section_adm">
<p align="center"><font face="Tahoma" size="2"><b><i>Producto <input type="text" name="Dato1" size="20">
 </i></b></font></p>

<p align="center"><font face="Tahoma" size="2"><b><i>Descripcion <textarea rows="2" name="Dato2" cols="20"></textarea></i></b></font></p>

<p align="center"><font face="Tahoma" size="2"><b><i>Imagen <input accept="image/*" type="file" multiple>></i></b></font></p>

<p align="center"><font face="Tahoma" size="2"><b><i>Categoria</i></b>
</font><select size="1" name="Dato4">
    <option value="Tortas heladas">Tortas heladas</option>
    <option value="Paletas">Paletas</option>
    <option value="Atractivos Turisticos">Otros</option>

    <option selected value="-Seleccionar-">-Seleccionar-</option>
</select></p>
<p align="center"><font face="Tahoma" size="2"><b><i>Precio <input type="text" name="Dato3" size="17"></i></b></font></p>

<p align="left">                                        
</p>
<p align="center"> 
<input type="submit" value="Confirmar" name="B1">
<input type="reset" value="Restablecer" name="B2">
</form>

</p>
</section>


</body>
</html>