<%- include('./partials/head') %>

  <link rel="stylesheet" href="/css/estilo.css">
  </head>
  
  <body>
    <%- include('./partials/header') %>
    <h2>Nuevo Producto</h2>
    
    <form action="/productos/create" method="POST">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="name">
        </div>
        <div>
          <label for="imagen">Imagen</label>
          <input accept="image/*" type="file" multiple>>
        </div>

        <div>
            <label for="precio">Precio</label>
            <input type="text" name="precio" id="price">
        </div>

        <div>
            <button type="submit">Guardar</button>
        </div>

    </form>

  </body>
</html>