


<!doctype html>
<html lang="es">
<%- include('./partials/head') %>

<body>
  <main class="">
    
    <!-- Cuerpo principal -->
    <section class="row-form">
      <article class="col-11  card">
        <div class="card-body">
          <h2 class="display-4 text-black text-center ">Crear nuevo producto</h2>
        </div>
      </article>
    </section>

    <section class="bg-home pt-4">
      <div class="container">
        <div class="row-form">
          <div class="col-8 mx-auto  ">
            <div class="create-form">
              <form action="/productos/create" method="POST">
                <div  class="form-group p-1">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="name">
                </div>
                <div  class="form-group p-1">
                  <label for="imagen">Imagen</label>
                  <input accept="image/*" type="file" multiple>>
                </div>
        
                <div  class="form-group p-1">
                    <label for="precio">Precio</label>
                    <input type="text" name="precio" id="price">
                </div>
        
            
                <div class="form-group p-1">
                  <button type="submit" class="btn btn btn-info">Crear</button>
                  
                </div>

              </form>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>