
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>


<header>
<%- include('./partials/header') %>

</header>

<main class="main_productos mainComidas">


  <section id="galeria" class="container btn-group-vertical">
    
    
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked>
      <label class="btn boton-todo" for="btnradio1">Todo</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" >
      <label class="btn boton-helados" for="btnradio2">Helados</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" >
      <label class="btn boton-paletas " for="btnradio3">Paletas</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio4" >
      <label class="btn boton-tortas " for="btnradio4">Tortas</label>

       <input type="radio" class="btn-check" name="btnradio" id="btnradio5" >
      <label class="btn boton-alfajores " for="btnradio5">Alfajores</label>

   


      <div class="row">

         <div class="col-lg-4 col-md-6 col-md-12 Helados">
            <img src="images/kilo.png" alt="Helado">
            <div class="img container-flex-box">
              <h5 class="flex-grow-30">1 KG</h5>
              <h5 class="flex-grow-30">$1.250</h5>
              <a href="/administrador"><button class=" boton">Editar producto</button></a>
              <a href=""><button class="boton">Añadir al carrito</button></a>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Helados">
              <img src="images/cuarto.jpg" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/2 KG - HASTA 3 GUSTOS</h5>
              <h5 class="flex-grow-30">$850</h5>
              <button class="boton">Añadir al carrito</button>
              </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Helados">
              <img src="images/medio-kilo.png" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Tortas">
              <img src="images/almendrado.jpg" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Paletas">
              <img src="images/paleta1.jpg" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Paletas">
              <img src="images/paleta2.jpg" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Alfajores">
              <img src="images/alfajor.png" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Tortas">
              <img src="images/foto4.jpg" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Tortas">
              <img src="images/foto5.png" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Tortas">
              <img src="images/foto6.png" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Tortas">
              <img src="images/foto7.png" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Alfajores">
              <img src="images/franui1.jpg" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



          <div class="col-lg-4 col-md-6 col-md-12 Tortas">
              <img src="images/torta-oreo.jpg" alt="">
              <div class="img container-flex-box">
              <h5 class="flex-grow-30">1/4 KG - HASTA 2 GUSTOS</h5>
              <h5 class="flex-grow-30">$450</h5>
              <button class="boton">Añadir al carrito</button>
            </div>
          </div>



      </div> 
        
    </section>
    
  </main>

<footer>
<div class="footer_productos"><%- include('./partials/footer') %></div>
</footer>

</html>