<nav>
    <ul>
      <li>
        <h4> 
        <a href="/">Inicio</a>
       </h4>
      </li>
      <li>
        <h4>
        <a href="/productos">Productos</a>
        </h4>
      </li>
      <li>
        <h4>
        <a href="/sabores">Sabores</a>
        </h4>
      </li>
      <li>
        <h4>
        <a href="">Locales</a>
        </h4>
      </li>
      <li>
        <h4>
        <a href="">Contacto</a>
        </h4>
      </li>
      <li>
        <h4>
        </h4>
      </li>
    </ul>
  </nav>
        <a> 
          <img class="carrito size" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="/images/shopping-cart.png">
        </a>